<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Eisenhower</title>
        <link rel="stylesheet" href="./public/eisenhower.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="./public/ruby.css" type="text/css" media="screen" charset="utf-8">
        
</head>
<body>
{{ content }}

    <footer>
        <hr/>
        <p>
            Eisenhower is open source, but the design and stuff is was made by <a href="http://micahrich.com">micah rich</a>. <a href="https://github.com/micahbrich" class="github">Github</a> <a href="http://twitter.com/micahbrich" class="twitter">@micahbrich</a>
        </p>
    </footer>
</body>
</html>