<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Eisenhower</title>
        <link rel="stylesheet" href="./public/eisenhower.css" type="text/css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="./public/ruby.css" type="text/css" media="screen" charset="utf-8">
        
</head>
<body>
{{ content }}

    <footer>
        <hr/>
        <p>
            Eisenhower is open source, but the design and stuff is was made by <a href="http://micahrich.com">micah rich</a>. <a href="https://github.com/micahbrich" class="github">Github</a> <a href="http://twitter.com/micahbrich" class="twitter">@micahbrich</a>
        </p>
    </footer>
    
    <script type="text/javascript"> 

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2279213-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script> 

    <script type="text/javascript" src="http://www.observerapp.com/record.js"></script> 
    <script type="text/javascript"> 
    try { Observerapp.record("4d86a49be8044bd410013fba"); } catch(e) {};
    </script>
</body>
</html>